In [14]:
import requests
import bs4
import csv

In [15]:
url = "https://en.wikipedia.org/wiki/Comma-separated_values"
response = requests.get(url)
html = response.text

In [20]:
soup = bs4.BeautifulSoup(html, "html.parser")
table = soup.find_all("table", class_="wikitable")[0]

In [21]:
table

<table class="wikitable">
<tbody><tr>
<th>Year</th>
<th>Make</th>
<th>Model</th>
<th>Description</th>
<th>Price
</th></tr>
<tr>
<td>1997</td>
<td>Ford</td>
<td>E350</td>
<td>ac, abs, moon</td>
<td>3000.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition"</td>
<td></td>
<td>4900.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition, Very Large"</td>
<td></td>
<td>5000.00
</td></tr>
<tr>
<td>1996</td>
<td>Jeep</td>
<td>Grand Cherokee</td>
<td>MUST SELL!<br/>air, moon roof, loaded</td>
<td>4799.00
</td></tr></tbody></table>

In [25]:
with open("exported.csv", "w" ,encoding='utf-8') as file:
    writer = csv.writer(file)
    rows = table.find_all("tr")
    for r in rows:
        csvRow = []
        for cell in r.findAll(['td', 'th']):
            csvRow.append(cell.get_text())
        writer.writerow(csvRow)

In [26]:
import pandas as pd
pd.read_csv("exported.csv")

,Year,Make,Model,Description,Price\r\n
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.0